body{
    text-align: center;
}

.btn{
    cursor: pointer;
    width: 10%;
}

#banner{
    width: 80%;
}

div{
    margin: 10px 0;
}

@media screen and (max-width: 450px) {
    .btn{
        width: 50px;
    }
    #banner{
        width: 100%;
    }
}